.idea/
__pycache__/
14.9.21_try_1/
14.9.21_try_2/
14.9.21_try_3/
14.9.21_try_4/
green_screen_stuff/
blabla.png
clusters.png
convert_images_to_video
filledholweeesa.png
final_mask_with_morph_54.png
final_mask_with_morph_60.png
final_mask_with_morph_61.png
final_mask_with_morph_117.png
green.png
hsv_mask_26.png

